
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#343a40;
  color: white;
  text-align: center;
}

.card-container {
  width: 250px;
  border : 1px solid rgba(0,0,0,.125);
  margin : 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;

}

.desc h3, p {
  font-weight: 300;

}